{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}



<p>Project by Purna Shah. Backend in Flask and SQLite, frontend in Bootstrap CSS/HTML. Functionality is a bulletin board with full CRUD capabilities and account management. All posts can be seen without an account, but an account must be made to post. User must be logged in with the correct account to delete corresponding posts. Mostly, my backend adapts the code from <a href="https://www.youtube.com/watch?v=3mwFC4SHY-Y">this</a> Youtube video and combines it with account functionality from <a href="https://www.digitalocean.com/community/tutorials/how-to-add-authentication-to-your-app-with-flask-login">this</a> tutorial.</p>
{% endblock %}